#contacts {
    background: #F6F6F6;
}

.contacts_menu {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.rs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

