h1 {
    font-family: Anton;
    font-size: 47.3392px;
line-height: 59px;

}
p {
    font-family: Libre Baskerville;
    font-size: 18px;
line-height: 22px;
// font-weight: bold;
}

.name__old {
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
}
.main_image {
    width: 100%;
    max-height: 387px;
    margin-bottom: 104px;
}

.main_photo {
    width: 100%;
    max-height: 387px;

}